<h1>
    <i class="fa fa-terminal"></i>
     Sandbox Mod
    <i class="fa fa-times pull-right close-button" close-all-ui></i>
</h1>


<div class="padding">
    <!-- <h4>Hello this is Sandbox mode. From this menu you will be able to do many things such as give yourself money or more!</h4> -->

<div class="padding" style="overflow: auto; height: 490px;">
  <h4><i class="fa fa-money"></i> Money</h4>
    <p><button ng-click="sandboxCtrl.giveMoney(10000)">Add $10.000</button>
    <button ng-click="sandboxCtrl.giveMoney(500000)">Add $500.000</button>
    <button ng-click="sandboxCtrl.giveMoney(1000000)">Add $1.000.000</button>
    <button ng-click="sandboxCtrl.giveMoney(1000000000)">Add $1.000.000.000</button>

  <h4><i class="fa fa-book"></i> Experience</h4>
    <p><button ng-click="sandboxCtrl.giveXP(1000)">Add 1,000 XP</button>
    <button ng-click="sandboxCtrl.giveXP(10000)">Add 10,000 XP</button>
    <button ng-click="sandboxCtrl.giveMaxTire()">Get max tire (XP)</button>

  <h4><i class="fa fa-book"></i> Research Points</h4>
    <p><button ng-click="sandboxCtrl.giveRP(1000)">Add 1,000 RP</button>
    <button ng-click="sandboxCtrl.giveRP(10000)">Add 10,000 RP</button>

  <h4><i class="fa fa-calendar"></i> Days</h4>
    <small>Be careful! Skipping too many days might crash the game. Do this at your own risk.</small>
    <p><button ng-click="sandboxCtrl.NextDay()">Skip one day</button>

  <h4><i class="fa fa-archive"></i> Inventory</h4>
    <p><button ng-click="sandboxCtrl.InventoryGive()">Give yourself 1000 of every item.</button>

  <h4><i class="fa fa-archive"></i> Projects</h4>
      <p><button ng-click="sandboxCtrl.giveMoreUsers(product_id, 1000)">Add 1000 users</button>
  		<button ng-click="sandboxCtrl.giveMoreUsers(product_id, 10000)">Add 10,000 users</button>
  		<button ng-click="sandboxCtrl.giveMoreUsers(product_id, 100000)">Add 100,000 users</button>
      <button ng-click="sandboxCtrl.giveMoreUsers(product_id, 1000000)">Add 1,000,000 users</button>
</div>
</div>
